* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-transform: none;
	font-weight: normal;
}

body {
	font-size: 16px;
	font-family: "Lucida Grande","Trebuchet MS","Tahoma","Verdana","Helvetica","Arial",sans-serif;
	line-height: 20px;
}

p{
	line-height:20px
} 

#layHead {
    text-align:center;
	font-size:18px;
	line-height:40px;
	font-family:"微软雅黑";
}

#layDottedLine{
	border-bottom:1px dashed #000; 
	height:50px;width:350px
}


#layFoot {
    text-align:center;
	color:#cdcdcd;
	font-size:12px;
	font-family:"微软雅黑";
}
 

h1 {
	text-align:center;
	font-size: 14px;
	/*margin-bottom: 0;
	
	border-bottom-width: .1em;
	border-bottom-style: dotted;
	*/
}

/*******
progress
********/
.Bar ,.Bars { 
    position: relative;
/*	float:left;*/
	width: 200px;
    border: 1px solid #B1D632;		/* 宽度 */
	padding: 1px; 
} 

.Bar div,.Bars div { 
	display: block; 
	position: relative;
	background:#00F;		/* 进度条背景颜色 */ 
	color: #333333;
	height: 20px;			/* 高度 */ 
	line-height: 20px;		/* 必须和高度一致，文本才能垂直居中 */ 
} 

.Bars div{ 
	background:#090
} 

.Bar div span,.Bars div span { 
	position: absolute; 
	width: 200px;			/* 宽度 */ 
	text-align: center; 
	font-weight: bold; 
}


/*******
table
********/
table{    margin:0 auto;    }